@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: #ffffff !important;
    font-family: 'Roboto', sans-serif;
}

html {
    --antd-wave-shadow-color: none !important;
}

.pri_color {
    color: #777777;
}

.sec_color {
    color: #01689C;
}

.quess_logo {
    width: 30vw;
    margin: 30px auto;
}

.quess_img {
    width: 10vw;
    margin: 30px auto;
}

.welcome {
    margin: 5px auto 5px 40px;
}

.heading {
    margin-bottom: 0.1em;
}

.cont_home {
    display: flex;
    margin: auto 10vw auto auto;
    flex-direction: column;
    text-align: center;
    justify-content: end;
    /* background-image: url('./assets/bg.png');
    background-repeat: no-repeat; */
}

.bg {
    background-image: url('./assets/bg.png');
    background-repeat: no-repeat;
}

.btn_lng {
    margin: 10px auto;
    width: 200px;
    height: 50px !important;
    background-color: #01689C !important;
    color: #ffffff !important;
    border-radius: 30px !important;
}

.btn_conn {
    margin: 10px auto !important;
    width: 400px;
    height: 50px !important;
    background-color: #01689C !important;
    color: #ffffff !important;
    border-radius: 30px !important;
}

.copyright {
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.home-main {
    height: calc(100vh - 60px);
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url('./assets/bg.png');
    background-repeat: no-repeat;
}

.conn-main {
    height: calc(100vh - 60px);
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url('./assets/connectionBG.png');
    background-repeat: no-repeat;
}

.cont_login {
    height: calc(100vh - 60px);
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url('./assets/connectionBG.png');
    background-repeat: no-repeat;
}

.connection_bg {
    background-image: url('./assets/connectionBG.png');

}

.back {
    margin: 10px auto auto 30px;
    border: none !important;
    background: none !important;
    color: #01689C !important;
    font-weight: bold;
}

.cont_conn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.conn_icon {
    vertical-align: middle;
    margin-left: 8px;
}

.form-button:hover {
    border-color: #4bb146 !important;
}

@media(max-width: 1200px) {
    .quess_logo {
        width: 30vw;
    }
}

@media(max-width: 1000px) {
    .quess_logo {
        width: 30vw;
    }
}

@media(max-width: 900px) {
    .quess_logo {
        width: 40vw;
    }
}

@media(max-width: 800px) {
    .quess_logo {
        width: 40vw;
    }
}

@media(max-width: 700px) {
    .quess_logo {
        width: 50vw;
    }
}

@media(max-width: 600px) {
    .quess_logo {
        width: 50vw;
    }
}

@media(max-width: 500px) {
    .quess_logo {
        width: 60vw;
    }
}

@media(max-width: 400px) {
    .quess_logo {
        width: 60vw;
    }
}

@media(max-width: 300px) {
    .quess_logo {
        width: 70vw;
    }
}